<!-- COMPONENT GEN TOKEN -->
<p-fieldset legend="Génération TOKEN" [toggleable]='true' >
  <div class="col-md-4 offset-md-3 register-form">
    <div class="container">
      <p [ngStyle]="{'color':'red'}"><b>NB: Le token ne dure que 5 minutes</b></p>
      <form (ngSubmit)="genToken()" [formGroup]="form">
        <div class="form-group">
          <p>Indiquez la langue à utiliser</p>
          <!-- Default radio -->
          <div class="form-check">
            <input [(ngModel)]="generatetoken.langue" class="form-check-input" formControlName="lang" id="flexRadioDefault1"
                   name="lang" type="radio" value="en"/>
            <label class="form-check-label" for="flexRadioDefault1"> EN </label>
          </div>

          <!-- Default checked radio -->
          <div class="form-check">
            <input [(ngModel)]="generatetoken.langue" [checked]="true" class="form-check-input" formControlName="lang1"
                   id="flexRadioDefault2" name="lang1" type="radio" value="fr"/>
            <label class="form-check-label" for="flexRadioDefault2"> FR </label>
          </div>

          <div *ngIf="f['lang'].touched && f['lang'].invalid && f['lang1'].touched && f['lang1'].invalid" class="alert alert-danger">
            <div *ngIf="f['lang'].errors || f['lang'].errors['required'] && f['lang1'].errors || f['lang1'].errors['required']">Language is required.</div>
          </div>

          <div *ngIf="afficher" class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Token</span>
            </div>
            <textarea #text [readonly]="true" aria-label="With textarea" class="form-control"
                      value="{{token}}"></textarea>
            <br>
            <button (click)="increment()" [ngxClipboard]="text" class="btn btn-primary">Copier</button>
          </div>
          <br>
          <div *ngIf="afficher" class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon2">Date création</span>
            </div>
            <input [readonly]="true" aria-describedby="basic-addon3" class="form-control"
                   id="basic-url2" type="text" value="{{date_creation | date:'dd-MMM-yyyy hh:mm:ss'}}">
          </div>
          <div *ngIf="afficher" class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">Date expiration</span>
            </div>
            <input [readonly]="true" aria-describedby="basic-addon3" class="form-control"
                   id="basic-url" type="text" value="{{date_expiration | date:'dd-MMM-yyyy hh:mm:ss'}}">
          </div>

          <button [disabled]="!form.valid" class="btn btn-primary" type="submit">Générer Token</button>
        </div>

      </form>

    </div>
  </div>
</p-fieldset>
<br>
<!-- COMPONENT ENROLL -->
<p-fieldset legend="ENROLLEMENT" [toggleable]='true'>

  <div *ngIf="r > 0" class="col-md-4 offset-md-3 register-form">
    <p [ngStyle]="{'color':'red'}"><b>NB: Le fichier audio doit avoir une durée d'au moins de 10 secondes</b></p>
    <div class="container">
      <form (ngSubmit)="uploadAudio()" [formGroup]="form1">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Token</span>
            </div>
            <textarea [readonly]="true" aria-label="With textarea" class="form-control" value="{{name}}"></textarea>
            <br>
            <button (click)="paste()" *ngIf="p > 0" class="btn btn-primary">Coller</button>
          </div>

          <p>Indiquez la langue à utiliser</p>
          <!-- Default radio -->
          <div class="form-check">
            <input [(ngModel)]="generatetoken.langue2" class="form-check-input" formControlName="langu1" id="flexRadioDefault3"
                   name="langu1" type="radio" value="en"/>
            <label class="form-check-label" for="flexRadioDefault1"> EN </label>
          </div>

          <!-- Default checked radio -->
          <div class="form-check">
            <input [(ngModel)]="generatetoken.langue2" [checked]="true" class="form-check-input" formControlName="langu"
                   id="flexRadioDefault4" name="langu" type="radio" value="fr"/>
            <label class="form-check-label" for="flexRadioDefault2"> FR </label>
          </div>

          <div *ngIf="f2['langu'].touched && f2['langu'].invalid && f2['langu1'].touched && f2['langu1'].invalid" class="alert alert-danger">
            <div *ngIf="f2['langu'].errors || f2['langu'].errors['required'] && f2['langu1'].errors || f2['langu1'].errors['required']">Language is required.</div>
          </div>

          <div class="input-group">
            <label>Audio</label>
            <br>
            <input formControlName="fichier" [ngClass]="{ 'is-invalid': submitted && f2['fichier'].errors}" type="file"  class="form-control" id="file" name="fichier" (change)="selectFiles($event)">
            <div *ngIf="submitted && f2['fichier'].errors" class="invalid-feedback">
              <div *ngIf="f2['fichier'].errors['required']">Veuillez choisir votre audio</div>
            </div>
          </div>
          <br>
          <button [disabled]="!form1.valid" class="btn btn-primary" type="submit">S'ENREGITRER</button>
        </div>
        <br>
        <div *ngIf="s > 0">
          <div *ngIf="s1 > 0">
            <p [ngStyle]="{'color':'red'}"><b>NB: A garder secrète</b></p>
            <p [ngStyle]="{'color':'blue'}"><b>ID: {{id_user}}</b></p>
          </div>
          <div *ngIf="s2 > 0">
            <p [ngStyle]="{'color':'red'}">Error:{{enroll_msg_err}}</p>
          </div>
        </div>
      </form>
    </div>
  </div>

</p-fieldset>

<!-- COMPONENT AUTH -->
<p-fieldset legend="AUTHENTIFICATION" [toggleable]='true'>

  <div *ngIf="r > 0" class="col-md-4 offset-md-3 register-form">
    <p [ngStyle]="{'color':'red'}"><b>NB: Pensez à générer un nouveau token</b></p>
    <div class="container">
      <form (ngSubmit)=" uploadAudio_auth()" [formGroup]="form2">
        <div class="form-group">

          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon12">ID</span>
          </div>
          <input formControlName="id" type="text" id="user_id" name="user_id" [(ngModel)]="user_id"  aria-describedby="basic-addon12" class="form-control">
          <br>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Token</span>
            </div>
            <textarea [readonly]="true" aria-label="With textarea" class="form-control" value="{{name1}}"></textarea>
            <br>
            <button (click)="paste2()" *ngIf="p > 0" class="btn btn-primary">Coller</button>
          </div>

          <p>Indiquez la langue à utiliser</p>
          <!-- Default radio -->
          <div class="form-check">
            <input [(ngModel)]="generatetoken.langue3" class="form-check-input" formControlName="langu2" id="flexRadioDefault6"
                   name="langu2" type="radio" value="en"/>
            <label class="form-check-label" for="flexRadioDefault6"> EN </label>
          </div>

          <!-- Default checked radio -->
          <div class="form-check">
            <input [(ngModel)]="generatetoken.langue3" [checked]="true" class="form-check-input" formControlName="langus"
                   id="flexRadioDefault7" name="langus" type="radio" value="fr"/>
            <label class="form-check-label" for="flexRadioDefault7"> FR </label>
          </div>

          <div *ngIf="f3['langus'].touched && f3['langus'].invalid && f3['langu2'].touched && f3['langu2'].invalid" class="alert alert-danger">
            <div *ngIf="f3['langus'].errors || f3['langus'].errors['required'] && f3['langu2'].errors || f3['langu2'].errors['required']">Language is required.</div>
          </div>

          <div class="input-group">
            <label>Audio</label>
            <br>
            <input formControlName="fichiers" [ngClass]="{ 'is-invalid': submitted2 && f3['fichiers'].errors}" type="file"  class="form-control" id="files" name="fichiers" (change)="selectFiles($event)">
            <div *ngIf="submitted2 && f3['fichiers'].errors" class="invalid-feedback">
              <div *ngIf="f3['fichiers'].errors['required']">Veuillez choisir votre audio</div>
            </div>
          </div>
          <br>
          <button [disabled]="!form2.valid" class="btn btn-primary" type="submit">S'AUTHENTIFIER</button>
        </div>
        <br>
        <div *ngIf="l > 0">
          <div *ngIf="l1 > 0">
            <p [ngStyle]="{'color':'blue'}"><b>{{auth_msg_err}}</b></p>
          </div>
          <div *ngIf="l2 > 0">
            <p [ngStyle]="{'color':'red'}">Error:{{auth_msg_err}}</p>
          </div>
        </div>
      </form>
    </div>
  </div>

</p-fieldset>




