<div class="col-md-4 offset-md-3 register-form" *ngIf="this.nbre > 0">
  <div class="container">
    <form [formGroup]="form" >
      <div class="form-group">
        <div class="input-group" >
          <div class="input-group-prepend">
            <span class="input-group-text">Token</span>
          </div >
          <textarea   value="{{name}}" class="form-control" aria-label="With textarea"></textarea>
          <br>
          <button class="btn btn-primary" (click)="paste()">Coller</button>
        </div>

        <p>Indiquez la langue à utiliser</p>
        <!-- Default radio -->
        <div class="form-check">
          <input formControlName="lang" class="form-check-input" value="en" [(ngModel)]="enrollment.langue" type="radio" name="lang" id="flexRadioDefault1"  />
          <label class="form-check-label" for="flexRadioDefault1"> EN </label>
        </div>

        <!-- Default checked radio -->
        <div class="form-check">
          <input formControlName="lang" class="form-check-input" value="fr" [(ngModel)]="enrollment.langue" type="radio" name="lang" id="flexRadioDefault2" [checked]="true"  />
          <label class="form-check-label" for="flexRadioDefault2"> FR </label>
        </div>

        <div *ngIf="f['lang'].touched && f['lang'].invalid" class="alert alert-danger">
          <div *ngIf="f['lang'].errors || f['lang'].errors['required']">Language is required.</div>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Générer Token</button>
      </div>

    </form>

  </div>
</div>



